# Consigue tu API key gratis en: https://www.themoviedb.org/settings/api
TMDB_API_KEY=tu_api_key_aqui
TMDB_LANGUAGE=es-MX

# Rutas absolutas
SOURCE_PATH=/media/paul/Backup Plus/_movies
DEST_PATH=/media/paul/Backup Plus/_biblioteca
INBOX_PATH=/media/paul/Backup Plus/_inbox
